/* PARAMETRES DES SECTIONS : DEBUT */

$darkgrey : #3f3f41;
$bluegreen : #008573;
$yellow : #becf00;

@mixin media($point) {
   @if $point == mobile {
     @media screen and (max-width : em(768)) { @content ; }
  }
   @else if $point == tablet {
     @media screen and (max-width : em(992)) and (min-width: em(768)) { @content ; }
  }
   @else if $point == laptop {
     @media screen and (max-width : em(1200)) and (min-width: em(992))  { @content ; }
  }
  @else if $point == desktop {
     @media screen and (min-width: em(1200))  { @content ; }
  }
  @else if $point == desktop-only {
     @media screen and (min-width: em(992))  { @content ; }
  }
  @else if $point == tablet-only {
     @media screen and (max-width: em(992))  { @content ; }
  }
}


/* PARAMETRES DES SECTIONS : FIN */
@import 'bourbon/bourbon';
@import 'libs/bootstrap';

/* CSS RESET */
@import 'core/reset';

/* GESTION DES TYPOS ET DE L'ICONSET */
@import 'fonts/fonts';

/* WEBSITE STRUCTURE */
@import 'core/structure';

/* STYLES COMMUNS */
@import 'commons/common';

/* STYLES LIBS */

/* MODULES COMMUNS ET RECURENTS */
@import 'commons/header';
@import 'commons/navigation';
@import 'commons/footer';
@import 'commons/breadcrumb';
@import 'commons/pushes';
@import 'commons/pagination';