*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-weight: normal;
    font-family: 'Gotham';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    position:relative;

    &.menu-on {
        margin-left:25%;
        
        @include media(tablet){
            margin-left:50%;
        }

        @include media(mobile){
            margin-left:75%;
        }
    }
}

input, textarea{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #888;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #888;
}
