.header {
	border-bottom:3px solid #dddedf;
	margin-bottom: 10px;
	padding-top:10px;
}

.header-logo {
	margin:0 auto;
	margin-top:5px;
	margin-bottom: 35px;
	display: table;

	img {
		max-width: 100%;
	}

	@include media(mobile){
		margin-bottom: 15px;
	}
}

.header-intranet {
	background-color:#d8d8d8;
	color: #fff;
	font-size: em(13);
	font-weight: bold;
	text-transform: uppercase;
	padding:em(8) em(10);
	margin-bottom: 10px;
	display:inline-block;

	@include media(tablet-only){
		margin-left:60px;
	}
}

.header-lang {
	clear:both;
	width: 58px;
	margin-bottom: 10px;
	@include media(tablet-only){
		margin-left:60px;
	}
	.lang_sel_list {
			li {
				padding-right:5px !important;
				text-transform: uppercase;
				font-size: em(14);
				float:left;
				padding-left:5px;

				a {
					color: $darkgrey;		

					&:hover {
						text-decoration: underline !important;
					}
				}

				&.lang_sel_sel {
					color: $bluegreen; /* text color */
				}

				&:first-child {
					border-right:1px solid $darkgrey;
					padding-left:0;
				}
			}
	}
	
}

.header-mobile-button {
	color: #3f3f41; /* text color */
	font-family: "Montserrat";
	font-size: em(17);
	font-weight: bold;
	text-transform: uppercase;
	width:60px;
	text-align: center;
	
	@include media(tablet){
		position:absolute;
		top:0;
		left:0;
	}
	

	&:hover {
		text-decoration: none;
		color:inherit;
	}

	span.icon-menu {
		width: 36px;
		height: 26px;
		background:url('../img/icon-menu.png') no-repeat;
		display:block;
		margin:auto;
		margin-top: 5px;
	}
}

.header-social {
	clear:both;
	margin-right: 20px;
	ul {
		li {
			float:left;

			a {
				width:34px;
				height:40px;
				display:block;

				&.social-facebook {
					background:url('../img/social-facebook.png') no-repeat;
				}
				&.social-mail {
					background:url('../img/social-mail.png') no-repeat;
				}
			}
		}
	}
}