.header-navigation {

}

.header-navigation ul {

}

.header-navigation ul li {
	float:left;
}

.header-navigation ul li a {
	color: $darkgrey;
	font-family: "Eagle";
	font-size: 17px;
	text-transform: uppercase;	
}