@include media(desktop-only){
	.header-navigation {
		margin-bottom: -3px;
		height:35px;
		> ul {
			> li {
				float:left;
				margin-right: 35px;
				height:35px;
				position:relative;
				
				> a {
					color: $darkgrey;
					font-family: "Eagle";
					font-size: em(17);
					text-transform: uppercase;

					border-bottom:7px solid transparent;
					display:block;
					height:100%;
					.nav-icon {
						display:none;
					}
				}

				@include media(laptop){
					margin-right:25px;

					> a {
						font-size:em(14);
					}
				}

				&:hover {
					> a {
						color: $bluegreen;
						text-decoration: none;
						border-bottom:7px solid $bluegreen;
					}

					> ul {
						display:block;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				> ul {
					display:none;
					position:absolute;
					left:0;
					top:100%;
					background-color:orange;

					> li {
						font-family: "Eagle";
						font-weight: 300;
						font-size: em(18);

						height: 45px;
						width: 190px;
						line-height: 45px;
						padding-left: 20px;

						> a {
							color: #3b3b3b; /* text color */

							&:hover {
								color:$bluegreen;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.mobile-navigation-header {
			display:none;
		}
		.mobile-navigation-footer {
			display:none;
		}
	}
}


@include media(tablet-only){
	.navigation-wrapper {
		font-family:"Eagle";
		font-weight:300;
	}
	.mobile-navigation-header {
		display:block;
		border-bottom:1px solid #5a5d5a;
		padding-bottom:35px;
		margin-bottom: 45px;
	}

	.mobile-navigation-footer {
		display:block;
		border-top:1px solid #5a5d5a;
		padding:20px 0;

		span {
			color:#7a7b71;
			display:block;
			text-align: center;
		}
	}

	.mobile-navigation-close {
		float:left;
		background:url('../img/nav-mobile-close.png') no-repeat;
		width:24px;
		height:23px;
		display:block;
		text-indent: -999999px;
	}

	.mobile-navigation-title {
		opacity:0.66; // layer alpha
		color: #fff;
		font-size: em(22);
		text-transform: uppercase;
		float:right;
	}

	.header-navigation {
		position:absolute;
		top:0;
		right:100%;
		z-index:10000;
		background:url('../img/tablet-menu.jpg') repeat;
		background-position:center;

		width:25%;
		height:100%;

		padding:34px;

		@include media(tablet){
            width:50%;
        }

		@include media(mobile){
			width:75%;
		}

		&.header-navigation--on {
			top:0;
			left:0;
			right:inherit;
		}

		> ul {
			clear:both;
			float:none;
			> li {
				font-family: "Eagle";
				font-size: em(25);
				font-weight: 300;
				margin-bottom: 40px;

				&:first-letter {
					text-transform: uppercase;
				}

				> a {
					color:#fff;
					width: 100%;
					display: block;
					position: relative;

					.nav-icon {
						position:absolute;
						right:0;
						top: 0;
						font-size: em(28);
						height: 28px;
						line-height: 24px;

						&.nav-icon-less {
							display:none;
						}
					}
				}

				&.active {
					> a {
						.nav-icon-plus {
							display:none;
						}
						.nav-icon-less {
							display:block;
						}
					}
				}

				@include media(tablet){

				}

				&:hover {
					> a {

					}

					> ul {

					}
				}

				&:last-child {
				}

				> ul {
					padding-top:35px;
					padding-left: 55px;
					display:none;
					> li {
						opacity:0.5; // layer alpha
						font-family: "Eagle";
						font-size: em(12);
						margin-bottom: 20px;
						
						> a {
							color: #fff;
							&:hover {

							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}